<nav style="background-color: #fa5e5e;"
    class="fixed top-0 left-0 right-0 z-50 bg-gray-900 text-white py-2 border-b border-gray-700">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <div class="flex items-center">
            <a href="/" class="text-xl font-bold">Valorant Info</a>
        </div>
        <ul class="flex space-x-4">
            <li><a href="/" class="hover:text-gray-400">Home</a></li>
            <li><a href="/agents" class="hover:text-gray-400">Agents</a></li>
            <li><a href="/maps" class="hover:text-gray-400">Maps</a></li>
            <li><a href="/weapons" class="hover:text-gray-400">Weapons</a></li>
            <li><a href="/bundles" class="hover:text-gray-400">Bundles</a></li>
        </ul>
    </div>
</nav>